*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
  
  
body {
    font-family: 'Roboto', sans-serif; 
    color: $color-grey;
    padding: 3rem;
} 

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}