
//COLORS
$color-white: white;
$color-grey: #777;
$color-first-gradient: #0099ff;
$color-second-gradient: #2a369e;

$color-black: #000; 
$color-grey-light-1: #e2e2e2;
$color-grey-dark-1: rgb(211, 211, 211);
$color-grey-dark: #999;

$color-card-light-1: #f7ff80;
$color-card-dark-1: #ff6600;
$color-card-light-2: #93e97e;
$color-card-dark-2: #0a8b4b;
$color-card-light-3: #3e6ed4;
$color-card-dark-3: #2a359e;

//GRID

$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

//MARGINS

//FONT SIZED

$default-font-size: 1.6rem;